<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Club" asp-action="Index">User Area All Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Admin" asp-controller="Club" asp-action="Index">All Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Admin" asp-controller="Booking" asp-action="Index">All Bookings</a>
    </li>
</ul>