@model ClubIfnoDetailsReviewsServiceViewModel

@{
    ViewData["Title"] = "Club Details";

}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="left-column">
                <partial name="_ClubInfoPartial" model="Model.ClubInfo" />
                <a asp-controller="Club" asp-action="Schedule" asp-route-id="@Model.ClubId" class="btn btn-primary mb-2 w-100 p-3 fw-bold">Book Now</a>
            </div>
        </div>
        <div class="col-md-9">
            <partial name="_ClubDetailsPartial" model="Model.ClubDetails" />
        </div>
    </div>
</div>

<hr />

@if (Model.Reviews.Any())
{
    <h4 class="text-center pb-3">Reviews</h4>

    foreach (var review in Model.Reviews)
    {
        <partial name="_ReviewDetailsPartial" model="@review" />
    }

    <div class="row text-center">
        <div class="col-4 offset-4">
            <a asp-controller="Review" asp-action="AllReviews" asp-route-clubId="@Model.ClubId" asp-route-clubName="@Model.ClubInfo.Name" class="btn btn-primary mb-2 w-100 p-3 fw-bold">All Reviews</a>
        </div>
    </div>
}
else
{
    <h4 class="text-center pb-3">The Club Has No Reviews</h4>
}
