@model ClubDetailsAndInfoViewModel

@{
    ViewData["Title"] = "Club Details";

}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Left part: Render _ClubInfoPartial.cshtml -->
            @* @await Html.PartialAsync("_ClubInfoPartial", Model.ClubInfo) *@
            <partial name="_ClubInfoPartial" model="Model.Info" />
        </div>
        <div class="col-md-9">
            <!-- Right part: Display other club details -->
            <partial name="_ClubDetailsPartial" model="Model.Details" />
        </div>
    </div>
</div>
