@model ClubDetailsAndInfoViewModel

@{
    ViewData["Title"] = "Club Details";
    bool isAprooved = (bool)(ViewData["IsClubAprooved"] ?? false);
}

<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"><a class="btn  btn-primary @(isAprooved ? string.Empty : "disabled" )" asp-area="" asp-controller="Court" asp-action="Schedule" asp-route-id="@Model.ClubId">My courts schedule</a></div>
    <div class="p-2 bd-highlight"><a class="btn btn-primary " asp-area="" asp-controller="Club" asp-action="Edit" asp-route-id="@Model.ClubId">Edit club information</a></div>
    <div class="p-2 bd-highlight"><a class="btn btn-primary @(isAprooved ? string.Empty : "disabled" )" asp-area="" asp-controller="Tournament" asp-action="Create">Create a tournament</a></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Left part: Render _ClubInfoPartial.cshtml -->
            @* @await Html.PartialAsync("_ClubInfoPartial", Model.ClubInfo) *@
            <partial name="_ClubInfoPartial" model="Model.Info" />
        </div>
        <div class="col-md-9">
            <!-- Right part: Display other club details -->
            <partial name="_ClubDetailsPartial" model="Model.Details" />
        </div>
    </div>
</div>
