﻿
@inject IClubService clubService

@{
    bool clubExist = await clubService.ClubWithOwnerIdExistAsync(User.Id());
    bool isUserClubWoner = User.IsInRole("ClubOwner");
    bool isClubAprooved = false;
    bool clubHasCourts = false;
    bool isUserAdmin = User.IsInRole("Admin");
    var clubId = 0;
    if (clubExist)
    {
        clubId = await clubService.GetClubIdByOwnerIdAsync(User.Id());
        isClubAprooved = await clubService.IsClubAprooved(clubId);
        clubHasCourts = await clubService.ClubHasCourts(clubId);
    }
}
@*  *@
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Club" asp-action="Index">All Clubs</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Booking" asp-action="Index">My Bookings</a>
        </li>

        if (clubExist && isUserClubWoner && isClubAprooved)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Club" asp-action="MyClub" asp-route-id="@clubId">My Club</a>
            </li>
        }
        else if (clubExist && isClubAprooved == false)
        {
            if (clubHasCourts)
            {
                <li class="nav-item">
                    <a class="nav-link text-light disabled" asp-area="" asp-controller="Club" asp-action="MyClub" asp-route-id="@clubId">My Club<small class="text-danger">(pending aprooval)</small></a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Club" asp-action="Create">Register Courts</a>
                </li>
            }
        }
        else if(isUserAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Go To Admin Panel</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Club" asp-action="Create">Register Club</a>
            </li>
        }
    }
</ul>
