@{
    //Layout = "_Layout"; // Use your desired layout page, if any
    ViewBag.Title = "400 BadRequest"; // Set the page title
}

<div class="text-center">
    <img src="~/images/error_page/400-badrequest.png" alt="400 Error Image" class="img-fluid" style="max-width: 250px; max-height: 250px;" /> <!-- Example image with source link -->
    <h1 class="display-1">400 Bad Request</h1>
    <p class="lead">Oops! The resource you are trying to access is not found.</p>
    <p>Please contact the administrator for assistance.</p>
</div>
