@{
    ViewBag.Title = "404 Not Found";
}

<div class="text-center">
    <img src="~/images/error_page/404-notfound.png" alt="401 Error Image" class="img-fluid" style="max-width: 250px; max-height: 250px;" />
    <h1 class="display-1">404 Not Found</h1>
    <p class="lead">Oops! Page Not Found.</p>
    <p>Please contact the administrator for assistance.</p>
</div>


x