@{
    ViewBag.Title = "500 Internal Server Error";
}

<div class="text-center">
    <img src="~/images/error_page/500-internalserver.png" alt="401 Error Image" class="img-fluid" style="max-width: 250px; max-height: 250px;" />
    <h1 class="display-1">500 Internal Server Error</h1>
    <p class="lead">Oops! Something went wrong. We're working to fix it. Please try again later..</p>
    <p>Please contact the administrator for assistance.</p>
</div>