@{
    ViewBag.Title = "401 Unauthorized"; 
}

<div class="text-center">
    <img src="~/images/error_page/401-unauthorized.png" alt="401 Error Image" class="img-fluid" style="max-width: 250px; max-height: 250px;" /> <!-- Example image with source link -->
    <h1 class="display-1">401 Unauthorized</h1>
    <p class="lead">Oops! You are not authorized to access this resource.</p>
    <p>Please contact the administrator for assistance.</p>
</div>
