@{
    //Layout = "_Layout"; // Use your desired layout page, if any
    ViewBag.Title = "401 Unauthorized"; // Set the page title
}

<div class="text-center">
    <img src="~/images/error401.png" alt="401 Error Image" class="img-fluid" /> <!-- Example image with source link -->
    <h1 class="display-1">401 Unauthorized</h1>
    <p class="lead">Oops! You are not authorized to access this resource.</p>
    <p>Please contact the administrator for assistance.</p>
</div>
