@using GameSetBook.Common;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-gradient-rb">Welcome to GameSetBook</h1>
</div>

<div class="container">
    <div id="carouselExampleDark" class="carousel carousel-fade slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/@ImageSource.HomePageImage1" class="d-block w-100" alt="img1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Unlimited Tennis Access</h5>
                    <p>Access tennis courts everywhere you go. Our platform connects you to a network of tennis clubs, ensuring that tennis enthusiasts can enjoy the game anytime, anywhere.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/@ImageSource.HomePageImage3" class="d-block w-100" alt="img2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Grow Your Club, Serve More Players</h5>
                    <p>Empower your tennis club's growth by registering with us. Expand your client base, improve player engagement, and streamline scheduling for a seamless tennis experience. Take your club to new heights with our platform.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/@ImageSource.HomePageImage2" class="d-block w-100" alt="img3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tennis for Everyone</h5>
                    <p>Experience the joy of your favorite sport with us. From beginners to seasoned players, tennis is for everyone. Join our community, embrace the game, and make every match an unforgettable experience.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

