html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #212529;
    text-align: center;
    line-height: 60px;
}

.left-column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.club-name {
    max-width: 150px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.text-12 {
    font-size: 12px !important;
}

.text-gradient {
    background: -webkit-linear-gradient(#858282, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-rb {
     background: -webkit-linear-gradient(#ff6a00, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-gradient {
    background: -webkit-linear-gradient(#858282, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav-link-gradient-bs {
    background: -webkit-linear-gradient(#000000, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.29753151260504207) 100%);
}

.form-control{
    background-color: #eee;
}

.form-select {
    background-color: #eee;
}