html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #f5f5f5;
    text-align: center;
    line-height: 60px; /* Center content vertically */
}

.left-column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.club-name {
    max-width: 150px; /* Set maximum width for club name */
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}

.text-12 {
    font-size: 12px !important;
}

