@model ReviewFormModel

@{
    ViewBag.Title = "Revise Review";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Revise" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BookingId" />
            <input type="hidden" asp-for="ReviewerId" />
            <input type="hidden" asp-for="ClubId" />
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label-add-edit"></label>
                <textarea asp-for="Description" class="form-control" aria-required="true" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Rate" class="form-label"></label>
                <input asp-for="Rate" class="form-control" aria-required="true" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="mb-3 text-center">
                <input class="btn btn-primary mb-2 w-100 p-3 fw-bold" type="submit" value="Revise Review" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
