@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "All Cities";
}

<h1 class="text-center">@ViewBag.Title</h1>

<a asp-area="Admin" asp-controller="City" asp-action="Add" class="nav-link">Add Country</a>

