@model BookingCreateAdminFormModel
@{
    ViewBag.Title = "Book Court";
}

<h2 class="text-center">@ViewBag.Title</h2>

<p class=" text-center">Date: @Model.BookingDate.ToShortDateString()</p>
<p class=" text-center">Hour: @(Model.Hour):00h</p>
<p class=" text-center">Price: @(Model.Price)BGN</p>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Book" method="post">
            <input type="hidden" asp-for="Price" />
            <input type="hidden" asp-for="BookingDate" />
            <input type="hidden" asp-for="CourtId" />
            <input type="hidden" asp-for="ClubId" />
            <input type="hidden" asp-for="Hour" />
                <div class="mb-3">
                    <label asp-for="ClientName" class="form-label-add-edit"></label>
                    <input asp-for="ClientName" class="form-control" placeholder="Jogn Doe" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label-add-edit"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="+359888000000" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary mb-2 w-100 p-3 fw-bold" type="submit" value="Book Now" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

